$color-rojo-natania: rgb(231, 51, 41);
$color-rojo-natania-transparent: rgba(231, 51, 41, 0.9);
$color-azul-natania: rgb(23, 71, 145);
$color-gris-fondo: rgb(237, 239, 238);
$color-gris-claro:rgb(124, 120, 120);
$color-verde-claro:rgb(140, 212, 171);
$color-verde-oscuro:rgb(46, 139, 87);
$gris-suplente: rgb(60, 60, 59);
$color-azul-hover: #0056b3;
$blanco: #fff;
$sombra: 0px 2px 5px rgba(0, 0, 0, 0.3);

$color-primario: #2c3e50;
$color-acento: #e74c3c;
$color-fondo: #f4f7f6;
$color-texto: #3c3c3b;
$color-texto2: #3c3c3b;